NODE_ENV=development
GRPC_PORT=50051
ROOT_DB_URL=postgresql://user:password@localhost:5432/postgres
TOKEN_DB_URL=postgresql://user:password@localhost:5433/token_db
JWT_SECRET=yoursecret
REFRESH_SECRET=yourrefreshsecret
