# App Configuration
NODE_ENV=development
GRPC_PORT=50051

# Database
ROOT_DB_URL=postgresql://user:password@localhost:5432/postgres # Connection URL for the root database (used for migrations/setup)
TOKEN_DB_URL=postgresql://user:password@localhost:5433/token_db

# Security
JWT_SECRET=yoursecret
REFRESH_SECRET=yourrefreshsecret
