PORT=3120

# Database URLs
ROOT_DB_URL=postgresql://username:password@localhost:5432/postgres
USER_DB_URL=postgresql://username:password@localhost:3211/user_db
TOKEN_DB_URL=postgresql://username:password@localhost:3211/token_db
