NODE_ENV=development
PORT=3001
ROOT_DB_URL=postgresql://user:password@localhost:5432/postgres
USER_DB_URL=postgresql://user:password@localhost:5432/identity_db
TOKEN_SERVICE_URL=localhost:50051
RABBITMQ_URL=amqp://localhost
SEND_WELCOME_EMAIL=true
