# App Configuration
NODE_ENV=development
PORT=3001
SEND_WELCOME_EMAIL=true

# Database
ROOT_DB_URL=postgresql://user:password@localhost:5432/postgres # Connection URL for the root database (used for migrations/setup)
USER_DB_URL=postgresql://user:password@localhost:5432/identity_db

# Internal Services
TOKEN_SERVICE_URL=localhost:50051 # gRPC endpoint for the Token service

# Message Broker
RABBITMQ_URL=amqp://localhost
